.main {
  display: grid;
  place-items: center;
  padding: 6rem;
  height: 100vh;
}

#div {
  height: 30vh;
  align-content: center;
}
  
@keyframes hover-glow {
  0% {
    transform: translate(0, -40px);
    box-shadow: 0px 3px 10px 2px var(--black), 0px -3px 10px var(--black);
  }
  100% {
    transform: translate(0, -5px);
    box-shadow: 0px 3px 10px 2px var(--white), 0px -3px 10px var(--white);
  }
}

.tempLogo {
  color: var(--accent-colour);
  text-align: center;
  border-radius: .3em;
  animation: hover-glow 2s ease-in-out infinite alternate;
}

@keyframes blink {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.loadingText {
  text-align: center;
  color: var(--white);
  animation: blink 2s ease-in-out infinite alternate;
}

@media screen AND (max-width:895px) AND (orientation:portrait) {
  .main { height:100vw; }
}
