.main {
    display: grid;
    place-items: center;
    padding: 6rem;
    height: 100vh;
}

.centerText {
    text-align: center;
}

@media screen AND (max-width:430px) AND (orientation:portrait) {
    .main { height:100vw; }
}
