:root {
  --max-width: 1100px;
  --primary-colour: #071e85;
  --secondary-colour: #ff0000;
  --accent-colour: #9678a7bd;
  --accent-colour-dark: #775f85bd;
  --black: #000000;
  --white: #ffffff;
  --secondary-colour-dark: #3f0909;
  --primary-colour-gradient: linear-gradient(to right, #071e85ff, #8b9ffa8f, #8b9ffa11);
  --secondary-colour-gradient: linear-gradient(to right, #861037d3, #ff0000c7, #e75050b4, #ff0000c7, #861037d3, #ff0000c7, #e75050b4);
  --grey-colour-gradient: linear-gradient(to right, #969696d3, #cececec7, #ffffffb4, #cececec7, #969696d3, #cececec7, #ffffffb4);
  --black-gradient: linear-gradient(to left, #000000ff, #4d4d4d01);
  
  font-size: 1.3rem; /** 24px **/
  background-color: var(--black);
  color: var(--white);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

html, body {
  width: 100vw;
  overflow-x: hidden;
}

@keyframes sideScroll {
  0% { background-position: 90% 0; }
  100% { background-position: 0 0; }
}
button::before, a::before {
  content: '';
  background-image: var(--secondary-colour-gradient);
  position: absolute;
  top: -0.0625em;
  left: -0.0625em;
  background-size: 400%;
  opacity: 0;
  z-index: -1;
  width: calc(100% + 0.125em);
  height: calc(100% + 0.125em);
  animation: sideScroll 14s linear infinite;
}
a::before { background-image: var(--grey-colour-gradient); }
button:hover::before, button:focus::before,
          a:hover::before, a:focus::before {
  opacity: 1;
}
button, a {
  display: flex;
  align-items: center;
  width: 13em;
  height: 3em;
  padding: 1em;
  font-size: 1em;
  border: none;
  background-color: var(--accent-colour);
  color: var(--white);
  backdrop-filter: blur(0.5em);
}
button:hover, button:focus, a:hover, a:focus {
  border-left: 2px solid #ff4242;
  background: transparent;
}
a:hover, a:focus {  border-left: 2px solid var(--white); }

@keyframes appear {
  0% {
    opacity: 0;
    transform: translate(-20px, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.fadeIn { animation: appear 0.6s ease-out 1 backwards; }
.fadeOut { animation: appear 0.6s ease-out 1 reverse forwards; }

@media screen AND (max-width:895px) AND (orientation:portrait) {
  html {
    transform: rotate(90deg);
    transform-origin: right top;
    width: 100vh;
    position: absolute;
    top: 100%;
    right: 0;
  }

  body { width: 100vh; }
}
