.main {
  display: grid;
  place-items: center;
  padding: 6rem;
  height: 100vh;
}

#div {
  height: 30vh;
  align-content: center;
}
  
@keyframes hover-glow {
  0% { transform: translate(0, -40px); }
  100% { transform: translate(0, -5px); }
}

.brandLogo {
  color: var(--accent-colour);
  padding: 0.3rem;
  animation: hover-glow 2s ease-in-out infinite alternate;
}

@keyframes blink {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.loadingText {
  text-align: center;
  color: var(--white);
  animation: blink 2s ease-in-out infinite alternate;
}

@media screen AND (max-width:430px) AND (orientation:portrait) {
  .main { height:100vw; }
}
